---
to: src/components/<%=type%>/<%= [h.inflection.camelize(h.dirName(name)), h.camelizedBaseName(name)].filter(Boolean).join('/') %>.tsx
---
<% formattedPath = h.camelizedPathName(name) -%>
<% component = h.camelizedBaseName(name) -%>
import type { FC } from 'react'

import NextLink from 'next/link'

import { useColorModeValue, Heading, Text, LinkBox, LinkOverlay } from '@chakra-ui/react'

type Props = {
  title: string
}

const <%= component %>: FC<Props> = ({ title }) => {
  const bg = useColorModeValue('brand.500', 'whiteAlpha.500')
  const color = useColorModeValue('whiteAlpha.500', 'brand.500')

  return (
    <LinkBox as="article" bg={bg} color={color}>
      <Heading as="h2">
        <NextLink href="#" passHref>
          <LinkOverlay>{title}</LinkOverlay>
        </NextLink>
      </Heading>
      <Text>Add a description for your blog post here.</Text>
      <a href="#">Some inner link</a>
    </LinkBox>
  )
}

export default <%= component %>

export type { Props as <%= component %>Props }